@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.login{
display: flex;
margin: 0;
padding: 0;

    .image-bateau{
        flex: 7;
        height: 100vh;
    }
    
    .formulaire{
        flex: 4;
        display: flex;
        flex-direction: column;
        padding: .5em 3em;

    }

    .connexion{
        margin-top: 1em;
    }
    
    .title_nice{
        font-family:'Poppins', sans-serif;
        margin-left: 1em;
    }

    


    @media (max-width: 426px){

        .image-bateau{
            display: none;
        }
        
        .title_nice{

            margin-left: 0.5em;
        }
        
        .formulaire{
            width: 90%;
        }

        .random{
            display: none;
        }
        
        .formulaire{
            margin-top: 1em;
        }

        .interface{
            justify-content: center;
        }

        .no_account{
            margin-left: 4em;
        }
        
        


    }

}



