<div class="login">

        <img class="image_bateau" src="assets/images/login/bateau.png" alt="bateau">

    <form>
        
        <app-interface></app-interface>

        <h1 class="title_nice">Nice to see you again</h1>

        <app-connexion></app-connexion>

        <app-checkbox></app-checkbox>
        
        <app-button-sign></app-button-sign>

        <div class="no_account">
            <p>Don't have an account?</p>
            <a href="sign" class="blue_sign_up">Sign up now</a>
        </div>



    </form>
</div>