.login{
display: flex;

    .image_bateau{
        width: 984px;
        height: 100vh;
    }

    

    .title_nice{
        margin-left: 1em;
    }


    

    .no_account{
        display: flex;
        margin-left: 6em;
    }

    .blue_sign_up{
        margin-top: 1em;
        margin-left: 1em;
        letter-spacing: 0.3px;
        color: #007AFF;
    }




    @media (max-width: 426px){

        .image_bateau{
            display: none;
        }
        
        .title_nice{

            margin-left: 0.5em;
        }
        
        .formulaire{
            width: 90%;
        }

        .forgot_password{
            margin-left: 2em;
        }

        .sign{
            margin-left: 2em;
            width: 85%;
            
        }

        .sign_google{
            margin-left: 2em;
            width: 85%;
            
        }

        .random{
            display: none;
        }
        
        .formulaire{
            margin-top: 1em;
        }

        .interface{
            justify-content: center;
        }

        .no_account{
            margin-left: 4em;
        }
        
        


    }

}



