
<app-sidebar></app-sidebar>

<div class="messagerie">

    <div class="upper">

        <h1>Message</h1>
        <input type="search" class="search" placeholder="Search...">

    </div>

    <section class="menu_messages">

        <div class="tete_premier">
            <img src="/assets/images/messagerie/killan.png"  alt="Killan James">
                <div class="premier">
                    <p>Kilian James</p>
                    <p class="typing">Typing...</p>
                    
                </div>
        </div>

            <div class="tete_second">
                <img src="/assets/images/messagerie/design.png" alt="Designe Team">
                <div class="second">
                    <p>Design Team</p>
                    <p>Hello!! Everyone</p>
                </div>
            </div>

            <div class="tete_troisieme">
                <img src="/assets/images/messagerie/ahmed.png" alt="Ahmed Medi">
                <div class="troisieme">
                    <p>Ahmed Medi</p>
                    <p>Wow really Cool 🔥</p>
                </div>
            </div>
    </section>


    <section>

            <p class="all_message">All message</p>
        <div class="tete_quatrieme">
            <img src="/assets/images/messagerie/claudia.png" alt="Claudia Maudi">
            <div class="quatrieme">
                <p>Claudia Maudi</p>
                <p class="typing">Typing...</p>
            </div>
        </div>

        <div class="tete_cinquieme">
            <img src="assets/images/messagerie/novita.png" alt="novita">
            <div class="cinquieme">
                <p>Novita</p>
                <p>yah, nice design</p>
            </div>
        </div>

        <div class="tete_sixieme">
            <img src="assets/images/messagerie/milie.png" alt="milie">
            <div class="sixieme">
                <p>Milie Nose</p>
                <p>Awesome 🔥</p>
            </div>
        </div>

        <div class="tete_septieme">
            <img src="assets/images/messagerie/ikhsan.png" alt="ikhsan">
            <div class="septieme">
                <p>Ikhsan SD</p>
                <p>Voice message</p>
            </div>
        </div>

        <div class="tete_huitieme">
            <img src="assets/images/messagerie/aditya.png" alt="aditya">
            <div class="huitieme">
                <p>Aditya</p>
                <p>Publish now</p>
            </div>
        </div>

        <div class="tete_neuvieme">
            <img src="assets/images/messagerie/ahmed.png">
            <div class="neuvieme">
                <p>Ahmed Medi</p>
                <p>Wow really cool 🔥</p>
            </div>
        </div>

        
        
            
    </section>




</div>