<!-- <div class="messagerie">

    <div class="upper">

        <h1>Message</h1>
        <input type="search">

    </div>

    <section class="menu_messages">
        <div>
            <ul>
                <li routerLink="/messagerie"><img src="/assets/images/messagerie/killan.png" alt="Killan James"></li>
                <li>Kilian James</li>
                <li class="typing">Typing...</li>
            </ul>
        </div>
            <ul>
                <li><img src="/assets/images/messagerie/design.png" alt="Designe Team"></li>
                <li>Design Team</li>
                <li>Hello!! Everyone</li>
            </ul>
            <ul>
                <li><img src="/assets/images/messagerie/ahmed.png" alt="Ahmed Medi"></li>
                <li>Wow really Cool</li>
            </ul>
    </section>


    <section>

        <div>
            <img src="/assets/images/messagerie/icone_message.png" alt="icone_message" > 
            <p>All message</p>
        </div> 
        <div>
            <img src="/assets/images/messagerie/claudia.png" alt="Claudia Maudi">
            <li class="typing">Typing...</li>
        </div>
        <div>

        </div>

    </section>




</div> -->