.title_nice{
    font-family:'Poppins', sans-serif;
}

.liens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6em;
}

.blue_sign_up{
    margin-top: 1em;
    margin-left: 1em;
    letter-spacing: 0.3px;
    color: #007AFF;
    text-decoration: none;
}

.endPage{
    text-align: center;
    display: flex;
    flex-direction: column;

}

