.sign{
    background-color: #007AFF;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40px;
    margin-top: 2em;
    margin-left: 2em;
    border: none;
}

.sign_google{
    background-color: #333333;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40px;
    margin-top: 5em;
    margin-left: 2em;
}