<div class="sidebar">

    <div class="logo">
        <img src="assets/images/login/logo.png" alt="Octom.">
    </div>

    <section class="menu">
        <ul>
            <li routerLink="/dashboard"><img class="carre" src="/assets/images/sidebar/dashboard-icon.png" alt="Dashboard"></li>
            <li routerLink="/ebooks"><img class="livre" src="/assets/images/sidebar/ebooks-icon.png" alt="Ebooks"></li>
            <li routerLink="/settings"><img class="rouage" src="/assets/images/sidebar/settings-icon.png" alt="Settings"></li>
            <li routerLink="/messenger"><img class="fleche" src="/assets/images/sidebar/messenger-icon.png" alt="Messenger"></li>
            <li routerLink="/files"><img class="plus" src="/assets/images/sidebar/files-icon.png" alt="Files"></li>
        </ul>
    </section>
</div> 