<h1 class="title_nice">Nice to see you again</h1>

<form class="connexion">
<app-input #InputLogin label="Login" type="text" name="Login" placeholder="Email or phone number"></app-input>

<app-input #InputPassword label="Password" type="password" name="password" placeholder="Enter password"></app-input>
<app-checkbox></app-checkbox>
</form>

<app-button-sign type="submit" class="sign">Sign in</app-button-sign>
<span class="sign_google">Or Sign in with Google</span>

<div class="no_account">    
    <p>Don't have an account?</p>
    <p class="blue_sign_up" routerLink="/register">Sign up now</p>
</div>