.title_nice{
    font-family:'Poppins', sans-serif;
    margin-left: 1em;
}

.no_account{
    display: flex;
    margin-left: 6em;
}

.blue_sign_up{
    margin-top: 1em;
    margin-left: 1em;
    letter-spacing: 0.3px;
    color: #007AFF;
}
