<h1 class="title_nice">Nice to see you again</h1>

<form class="connexion">
<!-- <app-input #InputLogin label="Login" type="text" (value)="validateLogin($event)" name="Login" placeholder="Email or phone number"></app-input> -->

<!-- <app-input #InputPassword label="Password" type="password" (value)="validatePassword($event)" name="password" placeholder="Enter password"></app-input> -->
<app-checkbox></app-checkbox>
</form>

<app-button-sign type="submit" class="sign" (click)="login()" routerLink="/messagerie">Sign in</app-button-sign>
<hr class="cutbar">
<button class="sign_google"><img src="/assets/images/login/google-icon.svg" height="15px" width="15px">
    Or Sign in with Google</button>

<div class="no_account">    
    <p >Don't have an account?</p>
    <p class="blue_sign_up" routerLink="/register">Sign up now</p>
</div>


<div class="footer">
    <div class="figma">
        <img src="assets/images/login/Figma.png" height="24px" width="24px" alt="Figma">
        <a href="figma" class="unicorn">
        @uiunicorn
        </a>
    </div>
    <div>
        © Perfect Login 2021
    </div>
</div>

<!-- <div class="end_page">
<a href="uiunicorn" class="unicorn">uiunicorn</a>
<p class="perfect">Perfect Login 2021</p>
</div> -->



