.title_nice{
    font-family:'Poppins', sans-serif;
}

.blue_sign_up{
    margin-top: 1em;
    margin-left: 1em;
    letter-spacing: 0.3px;
    color: #007AFF;
    text-decoration: none;
}

.endPage{
    text-align: center;
    display: flex;
    flex-direction: column;
}


