.interface{
    display: flex;
    margin-top: 2em;
}

.logo_unicorn{
    width: 48px;
    height: 48px;
    margin-right: 1em;
}

@media screen and (max-width: 426px){

    .interface{
        justify-content: center;
    }
}